/*
name: Default
tabs:
    text: Текст
    links: Ссылки
    lists: Списки
vars:
    font:
        label: Шрифт
        type: css-font
        tab: text
    color:
        type: palette
        transparent: true
        label: Цвет
        tab: text
    margins:
        label: Расстояние между параграфами
        type: number
        min: 0.25
        max: 5
        step: 0.25
        units: rem
        tab: text
    shadow:
        type: css-shadow
        shadowType: text
        tab: text
    link-color:
        type: palette
        transparent: true
        label: Цвет ссылок
        tab: links
    link-color-hover:
        type: palette
        transparent: true
        label: Цвет при наведении
        tab: links
    ul-style:
        type: livesearch
        label: Нумерованный
        values: 
            default: По умолчанию
            markers: Маркеры
            icons: Иконки
        tab: lists
    ul-marker:
        type: livesearch
        label: Маркер
        values:
            dash: '&mdash;'
        parent: ul-style == markers
        tab: lists
    ul-icon:
        type: iconpicker
        label: Иконка
        tab: lists
        store_code: true
        parent: ul-style == icons
    ul-side-margin:
        type: number
        label: Отступ сбоку
        min: -10
        max: 10
        step: 0.25
        tab: lists
    li-margin:
        type: number
        label: Отступ между пунктами
        min: 0
        max: 5
        step: 0.25
        tab: lists
    ul-marker-margin:
        type: number
        label: Отступ от маркера
        min: 0
        max: 5
        step: 0.25
        tab: lists
export:
    ul_icon: '@ul-icon !== "none" && fx::icon( @ul-icon )'
*/
.text_style_default (
    @font: text 17px;
    @color: main 0;
    @margins: 1em;
    @shadow: none;
    @link-color: alt 1;
    @link-color-hover: alt 3;
    @ul-style: default;
    @ul-marker: dash;
    @ul-icon: none;
    @ul-side-margin: 0rem;
    @li-margin: 0rem;
    @ul-marker-margin: 0.5rem;
)
{
    .text-align();
    p, ul, ol {
        margin-bottom:@margins;
    }
    .tcolor (@color);
    .font(@font);

    .text-shadow(@shadow);

    a, a& {
        .tcolor(@link-color);
        &:hover {
            .tcolor(@link-color-hover);
        }
    }
    
    
    & when not(@ul-side-margin = 0rem) {
        ul {
            margin-left: @ul-side-margin;
        }
    }
    
    & when not(@li-margin = 0rem)  {
        li:not(:last-child) {
            margin-bottom:@li-margin;
        }
    }
    
    @marker-width:1rem;
    
    & when (@ul-style = icons) and not(@ul-icon = '') {
        ul {
            padding:0;
        }
        ul > li {
            list-style-type: none;
            padding-left: @marker-width + @ul-marker-margin;
            &:before {
                display:inline-block;
                width: @marker-width;
                margin-left: (@marker-width + @ul-marker-margin) * -1;
                margin-right: @ul-marker-margin;
                vertical-align:middle;
            }
            .fx_icon(@ul-icon);
        }
    }
    & when (@ul-style = markers) {
        ul {
            padding:0;
        }
        ul > li {
            list-style-type: none;
            padding-left: @marker-width + @ul-marker-margin;
            &:before {
                display:inline-block;
                width: @marker-width;
                margin-left: (@marker-width + @ul-marker-margin) * -1;
                margin-right: @ul-marker-margin;
                
                & when (@ul-marker = dash) {
                    content:'—';
                }
            }
        }
    }
}